*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: rgba(0, 136, 255, 0.164);
    font-family: Arial, Helvetica, sans-serif;
}
/* h1 {
    margin-bottom: 0.5rem;
} */

.container {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(128, 128, 128, 0.275);
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 6rem;
    margin-inline: auto;
    width: max(45vw,40rem);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3rem;
}

.home-page{
    cursor: pointer;
}
.home-page:hover {
    color: rgb(255, 0, 0);
}

.sub-header span {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 0.3rem;  
    cursor: pointer;
}
.sub-header span:hover{
    color: rgb(255, 0, 0);
    text-decoration:underline;
}

#form {
    display: flex;
    gap: 1rem;
}

input[type=text]{
    font-size: 1.2rem;
    padding: 12px;
    flex-grow: 1;
    background-color: rgba(128, 128, 128, 0.182);
    border: none;
    border-radius: 4px;
}

button[type=submit]{
    padding-inline:20px;
    background-color: rgb(76, 151, 232);
    font-size: 1.05rem;
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

[data-list] {
    padding: 4px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid lightblue;
    border-radius: 8px;
}

[data-list] {
    margin-block: 20px;
}

.delete {
    background-color: rgba(255, 0, 0, 0.115);
    color: red;
    font-size: 1.05rem;
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hidden {
    display: none;
}